$w_left_pad: 40px;
$w_gut: 15px;

$c_link: #0060a0;
$c_visited: #70a0b0;
$c_hover: #b03000;
$c_grey: #a0a0a0;
$c_light: #e8e8e8;

$c_input: #f0f0f0;
$c_disabled: #cccccc;

$c_red: #b03000;
$c_tag: #556677;

$thin: 0.85;

$time: .2s;

// Breakpoints
$tablet: 'screen and (max-width: 1023px)';
$mobile: 'screen and (max-width: 735px)';