* {
    box-sizing: border-box;
}

html {
    overflow-y: auto;
    overflow-x: hidden;
}
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    letter-spacing: -0.01em;
    cursor: default;
    background: #fff;
    color: #404040;
    margin: 0;
    padding: 0;
}

body,input,textarea,select,button,pre,tt,code,pre *,tt *,code * {
    font-size: 16px;
    line-height: 24px;
}

body,input,textarea,select,button {
    font-family: "LatoWeb", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}


pre, tt, code, pre *, tt *, code * {
    white-space: pre-wrap;
    font-size: 13px;
    line-height: 1.4;
}

sup,sub {
    position: relative;
    vertical-align: middle;
    font-size: 75%;
    font-weight: normal;
}

sup {
    bottom: 0.5em;
}

sub {
    top: 0.5em;
}

a {
    border: 0;
    color: #2ecc71;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a:visited {
    color: #2ecc71;
}

a:hover,a.hover {
    color: #00923e;
}
img {
    max-width: 100%;
    height: auto;
}
mark {
    background-color: #dbffea;
    padding: 1px 5px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

::-moz-selection {
	background: #2ecc71;
	color: #fff;
}

::selection {
	background: #2ecc71;
	color: #fff;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-button {
    background-color: none;
}
::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #2ecc71;
}
::-webkit-scrollbar-track-piece {
    background-color: #fff;
}

.common {
    margin: 0 auto;
    position: relative;
    max-width: 1280px;
}
@media screen and (max-width: 1023px) {
    .common {
        max-width: 780px;
    }
}
.flag {
    max-width: 800px;
    position: relative;
    padding: 50px 0 0;
    margin: 0 auto;
}
@media screen and (max-width: 1023px) {
    .flag {
        padding: 20px 0 0;
        margin: 0 4%;
    }
}
.logo {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.logo img {
    background-color: #efefef;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.logo .e2-user-picture-container {
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
}
.logo .e2-user-picture-container img {
    width: 80px;
    height: 80px;
}
.title {
    font-size: 1em;
    line-height: 1.4;
}
.title h1 {
    line-height: inherit;
    color: #404040;
    text-align: center;
    padding-top: 1em;
    font-size: 1.4em;
    font-family: "FuturaDemiC", sans-serif;
}
.title h1 a,.title h1 a:visited {
    color: #404040;
}
.title h1 a:hover,.title h1 a.hover {
    color: #333;
}
.title p {
    margin: 0 0 10px 0;
    text-align: center;
}

.engine {
    line-height: 1.45;
    font-size: 0.8em;
    color: #a0a0a0;
}
.engine a,.engine a:link,.engine a:visited {
    color: #a0a0a0;
}
.engine a:hover,.engine a:active {
    color: #b03000;
}
.e2-blog-rss, .e2-blog-rss:visited {
}
.copyright {
    font-size: 0.9em;
    line-height: normal;
    text-align: left;
}
.copyright p {
    text-align: left;
}
.counter {
    float: right;
    opacity: .3;
    margin-top: -19px;
}
.spotlight {
    position: absolute;
    top: 50px;
    right: 0;
    white-space: nowrap;
    text-align: right;
}

@media screen and (max-width: 1023px) {
    .spotlight {
        top: 20px;
    }
}

.content {
    margin: 0 auto 40px auto;
    max-width: 1200px;
}
.footer {
    margin: 0 auto 10px auto;
    max-width: 800px;
    font-size: 1em;
}

@media screen and (max-width: 1023px) {
    .content {
        margin: 0 4% 40px;
    }
    .footer {
        margin: 0 4% 40px;
    }
}
.e2-blog-description p {
    text-align: left;
    color: #a0a0a0;
    margin: 0 !important;
}
.admin-icon {
    margin: 0 !important;
}
.admin-icon .e2-toggle-state-off {
    opacity: .69;
}
.admin-icon .e2-toggle-state-on {
    opacity: 1;
}
.e2-toggle-state-off, .e2-toggle-on .e2-toggle-state-on, .e2-toggle-thinking .e2-toggle-state-thinking {
    padding: 0;
}
.e2-search-frame {
    margin-top: 2em;
}
.e2-search-front {
    margin-bottom: 1em;
}
.e2-search {
    white-space: nowrap;
    position: relative;
}

.e2-search-input .e2-search-input-input {
    cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 0;
    height: 50px;
    padding-left: 45px !important;
    padding-right: 5px !important;
    border-color: transparent !important;
}

.e2-search-input {
    top: -2px;
    position: relative;
}

.spotlight .e2-search-input,.spotlight .e2-search-input-input {
    background-color: transparent;
}

.admin-links .e2-svgi {
    font-size: 1em;
    vertical-align: bottom;
}
.admin-menu {

}
.admin-menu .admin-icon.e2-new-note-item {
    background: #f1f3f4;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 10px 10px;
    margin-left: 10px !important;
}
.admin-menu .admin-icon.e2-new-note-item:hover {
    background: #e2e5e6;
}
.admin-menu .admin-icon.e2-new-note-item:hover i {
    color: #b1bcdc !important; 
}
.admin-menu .admin-icon.e2-admin-menu-new-selected {
    background: #e2e5e6;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 10px 10px;
    margin-left: 10px !important;
    color: #b1bcdc !important;  
}
.admin-links a {
    color: #b1bcdc !important;
    fill: #b1bcdc !important;
}
.admin-links a:hover {
    color: #8890a7 !important;
    fill: #8890a7 !important;
}
.e2-admin-link {
    font-size: 1em;
}

.e2-search-icon {
    position: absolute;
    top: -1px;
    left: 15px;
    color: #a0a0a0;
    transition-duration: .25s;
    transition-timing-function: ease-out;
}

.e2-search-icon:hover {
    color: #333;
    cursor: pointer;
    transition: 0;
}

.e2-search-icon-focus,.e2-search-icon-focus:hover {
    cursor: text;
    fill: #404040;
}

.e2-heading .e2-search-icon {
    color: #a0a0a0;
}

.e2-search-input .e2-search-input-input,.e2-search-input .e2-search-input-input:focus {
    transition-property: width,padding-left,padding-right,border-color;
    transition-duration: .25s;
    transition-timing-function: ease-out;
}

.e2-heading .e2-search-input .e2-search-input-input {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: text;
    width: 100%;
    height: 50px;
    padding-left: 45px !important;
    padding-right: 5px !important;
    border-color: #d0d0d0 !important;
    background-color: #f5f5f5;
    font-family: "PT Sans", sans-serif;
}

@media screen and (max-width: 735px) {
    .e2-heading .e2-search-input .e2-search-input-input {
        width: 100%;
    }
}

.e2-heading .e2-search-input .e2-search-input-input:focus {
    width: 100%;
    transition: none;
}

.e2-search-input .e2-search-input-input {
    background-color: #f1f3f4;
    cursor: text;
    width: 100%;
    padding-left: 45px !important;
    padding-right: 5px !important;
    font-family: "PT Sans", sans-serif;
}
.e2-search-results-image {
    margin-right: 0.5em;
    margin-bottom: 1em;
    vertical-align: top;
    border-radius: 2px;
}

@media screen and (max-width: 735px) {
    .e2-search-input .e2-search-input-input:focus {
        width: 10em;
    }
}

.e2-search-tags {
    position: relative;
    margin-right: 12px;
    margin-left: -24px;
    padding: 0;
}
.e2-search-tags .e2-svgi {
    font-size: 1em;
	margin-top: 0;
    padding: 0;
}
.e2-search-tags a {
    color: #567;
}
.e2-search-tags a.hover {
    color: #404040;
}
.e2-search-thumb {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}

.e2-heading-description {
    max-width: 800px;
    margin: 0 auto;
}

.e2-note {
    margin-top: 4em;
    margin-bottom: 0;
}
.e2-note h1 {
    color: #404040;
    font-size: 3em;
    line-height: 1.25;
    padding-bottom: 10px;
    font-family: "LatoWebBlack", sans-serif;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}
@media screen and (max-width:1023px) {
    .e2-note h1 {
        font-size: 2.2em;
    }
}
.e2-note h1 a,.e2-note h1 a:visited {
    color: #404040;
}
.e2-note h1 a:hover,.e2-note h1 a.hover {
    color: #404040;
}
.e2-draft-label {
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
    line-height: 16px;
    border-radius: 2px;
    background: #a0a0a0;
    color: #fff;
    padding: 3px 5px 2px;
    position: relative;
    top: -5px;
    right: 0;
}

.frontpage .e2-note-favourite {
    background: #f1f3f4;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 4em 0;
}
.frontpage .e2-note-favourite .admin-links-floating {
    background: #f1f3f4;
}
@media screen and (max-width: 1023px) {
    .frontpage .e2-note-favourite {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        padding: 4em 4%;
        margin: 4em -4% 0;
    }
}

.e2-note-favourite .favourite {
  position: relative;
}

.e2-note-favourite .favourite:after {
  content: '';
  position: absolute;
  display: inline-block;
  bottom: 11px;
  right: -26px;
  width: 28px;
  height: 16px;
  background-image: url("../../../system/theme/images/favourite-on.svg");
  background-position: top right;
  background-repeat: no-repeat;
}

.e2-note .admin-links-floating {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    z-index: 100;
    transition-property: margin-top;
    transition-duration: .25s;
    transition-timing-function: ease-out;
    background: #fff;
    margin-top: -27px;
    padding: 0px 8px 3px 8px;
    font-size: 13px;
}
.e2-note .admin-links-floating .admin-icon {
    margin: 0 -2px !important;
}

.e2-note-text {
    font-family: "PT Sans", sans-serif;
    font-size: 1.2rem;
    line-height: 1.45;
    word-wrap: break-word;
    margin: 0 0 15px 0;
}
.e2-note-text a {
    border-bottom: solid 1px rgba(112, 160, 176, 0.15);
}
@media screen and (max-width: 800px) {
    .e2-note-text {
        font-size: 1.1rem;
    }
}

.e2-likes-action {
    display: table;
    margin: 50px auto;
    height: 100%;
}
._2tga.active {
    background: transparent !important;
    border-color: transparent !important;
}
.e2-fb-like {
    margin-right: 10px;
    display: table-cell;
    vertical-align: middle;
    background: #4267b2;
    padding: 0 5px;
    border-radius: 2px;
}
._2tga.active {
    background: transparent !important;
    border-color: transparent !important;
}
.e2-note-likes {
    font-size: 0;
    position: relative;
    margin-left: 10px;
}
.e2-note-likes .likely .likely__widget {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: inherit;
    padding: 7px 0 7px 6px;
}
.e2-note-likes .likely .likely__button {
    font-size: 0;
}
.e2-note-likes .likely .likely__counter {
    padding: 1px 10px 1px 4px;
}
.e2-actions {
    display: table;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.e2-note-tags,.e2-note-comments-link {
    line-height: 1.25;
}
.e2-note-tags {
    font-size: 0.9em;
    float: left;
    width: 70%;
}
.frontpage .e2-note-tags {
    display: none;
}
.frontpage .e2-note-comments-link {
    text-align: center;
    font-size: 1em;
    width: 100%;
}
.e2-note-comments-link {
    float: right;
    width: 30%;
    text-align: right;
    font-size: 0.8em;
}
.e2-note-comments-link a {
    color: #a0a0a0;
}
.e2-note-comments-link a:hover {
    color: #9a9a9a;
}
.e2-timestamp {
    color: #567;
}
.e2-note-subscribe-button,.e2-note-subscribe-button:visited {
  display: none;
  background: rgba(231,231,231,0.8);
  color: #404040;
  transition: background .33s ease-out, color .33s ease-out, fill .33s ease-out;
  line-height: 1.25;
  font-size: 0.9em;
  border-radius: 3px;
  border: 0;
  height: 22px;
  margin: 0 10px 0 0;
  vertical-align: top;
  padding: 1px 8px;
}

.e2-note-subscribe-button:hover,.e2-note-subscribe-button.hover {
  background: rgba(212,212,212,0.8);
  color: #404040;
}

.e2-note-subscribe-button-visible {
  display: inline-block;
}
.comments {
    margin: 0 0 40px;
    position: relative;
}
.comments .e2-frame {
    max-width: 800px;
    margin: 0 auto;
}
.comments form {
    display: table;
    position: relative;
    width: 100%;
}
.comments input.text,
.comments textarea,
.comments select {
    border: none;
    background: #fff;
    border-radius: 2px;
    border: 2px solid #ececec;
}
.comments textarea {
    resize: vertical;
}

.e2-comments {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    word-wrap: break-word;
}

.e2-comment {
  margin: 0;
}

.e2-comment-avatar {
    float: left;
    margin: 2px 0 0;
}
.e2-comment-meta-area p.time {
    font-size: 0.8em;
    color: #a0a0a0;
}
.e2-comment-actions .e2-svgi {
    font-size: 0.6em;
    vertical-align: text-bottom;
}
.e2-comment-content {
    padding: 10px 0 15px;
}
.e2-comment-content p {
	margin: 0 !important;
}
.e2-reply .e2-comment-content {
    padding: 0;
}
.e2-reply .e2-markable {
    font-style: italic;
}
.e2-comment-toggle {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}
#form-comment {
    margin: 0 auto 40px;
    max-width: 800px;
    width: 100%;
    display: table;
}

@media screen and (max-width: 735px) {
    .e2-comment {
        margin: 0 0 40px;
    }
    .e2-comment-and-reply {
        margin: 0;
    }
}

.e2-comment-secondary-controls {
    display: inline;
}

.e2-comment-control-area {
    float: right;
    text-align: right;
    margin-top: -24px;
    font-size: 13px;
    width: 15%;
}
.e2-comment-control-area .e2-svgi {
    font-size: 1em;
}
.e2-comment-control-area .e2-comment-reply {
    margin-right: 4px;
}
.e2-comment-control-area .admin-icon {
    margin: 0 -2px !important;
}
.e2-comment-author-removed {
    text-decoration: line-through;
    color: #c00000;
}

.e2-comment-author-removed span {
    color: #999;
}

.e2-reply {
	padding-left: 50px;
    padding-bottom: 20px;
}

@media screen and (max-width: 735px) {
    .e2-comment-control-area {
        width: 100%;
        text-align: left;
        margin-top: 0;
        font-size: 1em;
    }
    .e2-comment-control-area .admin-icon {
        margin: 0 !important;
    }
}

.e2-pages {
    margin-bottom: 50px;
    font-size: 1em;
    line-height: 1.25;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 40px;
}
.frontnav.e2-pages {
    position: relative;
    font-size: 1em;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 0;
}
.frontnav.e2-pages.later {
    margin-top: 3em;
    margin-bottom: -2em;
}
.frontnav.e2-pages.earlier {
    margin-top: 3em;
    margin-bottom: 3em;
}
.frontnav.e2-pages a {
    font-size: 2em;
}

.e2-pages a {
    color: #567;
}
.e2-pages a:hover {
    color: #404040;
}

.e2-page-unavailable {
    color: #a0a0a0;
}

.e2-upload-error {
    color: #b03000;
}

.e2-clickable-keyboard-shortcut:hover {
    color: #b03000;
    border-color: rgba(176,48,0,0.15);
}

.e2-visual-login {
    display: inline-block;
    margin: -5px 0 0;
    position: absolute;
}
.e2-heading {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-top: 3em;
    max-width: 800px;
    width: 100%;
}
.e2-heading h2 {
    font-size: 3.2em;
    line-height: 1;
    color: #404040;
    font-family: "LatoWebBlack";
    text-align: center;
    display: table;
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 800px;
    width: 100%;
}

.e2-heading input {
    font-size: 15px;
}

.e2-heading-super {
    color: #567;
    font-size: 1em;
    line-height: 1.4;
    text-transform: lowercase;
    max-width: 800px;
    margin: 0 auto;
}

.e2-heading-see-also {
    margin-top: 10px;
}

.e2-heading-description p {
    text-align: center;
    color: #a0a0a0;
    margin: 0 !important;
}
.e2-year-months,.e2-month-days {
    font-size: 12px;
    line-height: 24px;
    margin: 12px -4px 0;
}

.e2-year-month,.e2-month-day {
    padding: 4px;
}

.e2-month-day-current {
    background: #e8e8e8;
    border-radius: 3px;
}

.e2-period-unavailable {
    color: #a0a0a0;
}

.e2-section-heading {
    font-size: 1.3em;
    line-height: 1.4;
    padding-bottom: 15px;
    font-family: "LatoWebHeavy";
    max-width: 800px;
    width: 100%;
    margin: 1em auto 0;
}

.e2-text h2,.e2-text h3 {
    font-size: 100%;
    line-height: inherit;
    margin: 0 0 10px 0;
    text-align: center;
}

.e2-text h2 {
    max-width: 800px;
    width: 100%;
    margin: 10px auto;
    font-size: 1.7em;
    font-family: "LatoWebHeavy", sans-serif;;
}

.e2-text h3 {
    font-style: italic;
}

.e2-text hr {
    border: none;
    border-top: 1px rgba(0,0,0,0.15) solid;
    margin: 1em auto;
    max-width: 800px;
}

.e2-text h2+h3,.e2-text h2:first-child,.e2-text h3:first-child {
    margin-top: 0;
}

.e2-text-generic-object,.e2-text-table,.e2-text-code,.e2-text p,.e2-text ul,.e2-text ol,.e2-text li,.e2-text blockquote {
    margin: 10px auto;
    max-width: 800px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.e2-text blockquote {
    position: relative;
    display: block;
    font-size: 0.9em;
    line-height: 1.3;
    color: #a0a0a0;
    border-left: 4px solid #dbffea;
    padding: 0 0 0 1em;
}
@media screen and (min-width:1023px) {
    .e2-text ul li:nth-child(even) {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #f5f5f5;
        margin: 0 -75px 0.5em;
        max-width: 950px;
        padding: 1em 75px;
    }
}
.e2-text-code {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: relative;
    overflow: auto;
    color: rgb(110, 107, 94);
    background: rgb(254, 251, 236);
    padding: 10px 15px;
}

.e2-text ul li {
    list-style-type: none;
}

.e2-text th,.e2-text td {
    padding: 0 15px 10px 0;
}

.e2-text-picture,.e2-text-picture.fotorama,.e2-text-video {
    margin: 1em auto;
    max-width: 950px;
}
.e2-text-audio {
    background: #f5f5f5;
    border-radius: 2px;
    padding: 1em;
    max-width: 800px;
    margin: 1em auto;
}
.e2-text-picture a {
    position: relative;
}

.e2-text-picture a img {
    border-style: solid;
}

.e2-text-picture a.e2-text-picture-link {
    max-width: 100%;
    display: inline-block;
    border: none;
}

.e2-text-picture a img {
    box-sizing: content-box;
    border-width: 1px;
    margin: -1px;
}

.e2-text-picture a img {
    border-color: #e8e8e8;
    transition-property: border-color;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}

.e2-text-picture a:hover img,.e2-text-picture a.hover img {
    border-color: #b03000;
    transition: none;
}

.e2-text-picture a img {
    border-color: #e8e8e8;
}

.e2-text-picture a:hover img,.e2-text-picture a.hover img {
    border-color: #b03000;
}

.e2-text-picture-imgwrapper {
    width: 100%;
    height: 0;
    position: relative;
}

.e2-text-picture-imgwrapper img {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}
.e2-picture-frame {
    margin: 0 auto;
}

.e2-text p[pic] {
     margin-top: 0;
     margin-bottom: 0;
}
.e2-text [pic] img {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
    display: block;
    height: 0;
}
.e2-text [pic]:hover img {
    visibility: visible;
    opacity: 1;
    margin: 0.5em 0 1em;
    height: auto;
}


.e2-text-caption {
    margin: 10px auto;
    font-size: 0.8em;
    line-height: 16px;
    text-align: center;
    opacity: .69;
    max-width: 800px;
}

.e2-tags {
    line-height: 2.25em;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
.e2-tags .e2-pinned-toggle {
    margin-left: -8px;
}
.e2-tags .e2-pinned-toggle .e2-svgi {
    font-size: 10px;
    top: 0;
}
.e2-tags .e2-tag {
    margin-right: 8px;
}

.e2-tag-filter {
    max-width: 800px;
    width: 100%;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: capitalize;
}

.e2-tag-filter-slide-shaft,.e2-tag-filter-slider span {
    background: #567;
}

.e2-tag-filter-slide-area:hover .e2-tag-filter-slide-shaft,.e2-tag-filter-slide-area:hover .e2-tag-filter-slider span {
    background: #b03000;
}

.e2-tags-list span {
    padding: 5px;
    cursor: pointer;
    text-transform: lowercase;
}
span.e2-tag-weight-1 {
    font-size: 1.1em;
}
span.e2-tag-weight-2 {
    font-size: 1.2em;
}
span.e2-tag-weight-3 {
    font-size: 1.3em;
}
span.e2-tag-weight-4 {
    font-size: 1.4em;
}
span.e2-tag-weight-5 {
    font-size: 1.5em;
}
span.e2-tag-weight-6 {
    font-size: 1.6em;
}
span.e2-tag-weight-7 {
    font-size: 1.7em;
}
span.e2-tag-weight-8 {
    font-size: 1.8em;
}
span.e2-tag-weight-9 {
    font-size: 1.9em;
}
span.e2-tag-weight-10 {
    font-size: 1.10em;
}
span.e2-tag-weight-11 {
    font-size: 1.11em;
}
span.e2-tag-weight-12 {
    font-size: 1.12em;
}
span.e2-tag-weight-13 {
    font-size: 1.13em;
}
span.e2-tag-weight-14 {
    font-size: 1.14em;
}
span.e2-tag-weight-15 {
    font-size: 1.15em;
}
span.e2-tag-weight-16 {
    font-size: 1.16em;
}
span.e2-tag-weight-17 {
    font-size: 1.17em;
}
span.e2-tag-weight-18 {
    font-size: 1.18em;
}
span.e2-tag-weight-19 {
    font-size: 1.19em;
}
span.e2-tag-weight-20 {
    font-size: 1.20em;
}
span.e2-tag-weight-21 {
    font-size: 1.21em;
}
span.e2-tag-weight-22 {
    font-size: 1.22em;
}
span.e2-tag-weight-23 {
    font-size: 1.23em;
}
span.e2-tag-weight-24 {
    font-size: 1.24em;
}
span.e2-tag-weight-25 {
    font-size: 1.25em;
}
span.e2-tag-weight-26 {
    font-size: 1.26em;
}
span.e2-tag-weight-27 {
    font-size: 1.27em;
}
span.e2-tag-weight-28 {
    font-size: 1.28em;
}
span.e2-tag-weight-29 {
    font-size: 1.29em;
}
span.e2-tag-weight-30 {
    font-size: 1.30em;
}
span.e2-tag-weight-31 {
    font-size: 1.31em;
}
span.e2-tag-weight-32 {
    font-size: 1.32em;
}
span.e2-tag-weight-33 {
    font-size: 1.33em;
}
span.e2-tag-weight-34 {
    font-size: 1.34em;
}
span.e2-tag-weight-35 {
    font-size: 1.35em;
}
span.e2-tag-weight-36 {
    font-size: 1.36em;
}
span.e2-tag-weight-37 {
    font-size: 1.37em;
}
span.e2-tag-weight-38 {
    font-size: 1.38em;
}
span.e2-tag-weight-39 {
    font-size: 1.39em;
}
span.e2-tag-weight-40 {
    font-size: 1.40em;
}
span.e2-tag-weight-41 {
    font-size: 1.41em;
}
span.e2-tag-weight-42 {
    font-size: 1.42em;
}
span.e2-tag-weight-43 {
    font-size: 1.43em;
}
span.e2-tag-weight-44 {
    font-size: 1.44em;
}
span.e2-tag-weight-45 {
    font-size: 1.45em;
}
span.e2-tag-weight-46 {
    font-size: 1.46em;
}
span.e2-tag-weight-47 {
    font-size: 1.47em;
}
span.e2-tag-weight-48 {
    font-size: 1.48em;
}
span.e2-tag-weight-49 {
    font-size: 1.49em;
}
span.e2-tag-weight-50 {
    font-size: 1.50em;
}
span.e2-tag-weight-51 {
    font-size: 1.51em;
}
span.e2-tag-weight-52 {
    font-size: 1.52em;
}
span.e2-tag-weight-53 {
    font-size: 1.53em;
}
span.e2-tag-weight-54 {
    font-size: 1.54em;
}
span.e2-tag-weight-55 {
    font-size: 1.55em;
}
span.e2-tag-weight-56 {
    font-size: 1.56em;
}
span.e2-tag-weight-57 {
    font-size: 1.57em;
}
span.e2-tag-weight-58 {
    font-size: 1.58em;
}
span.e2-tag-weight-59 {
    font-size: 1.59em;
}
span.e2-tag-weight-60 {
    font-size: 1.60em;
}
span.e2-tag-weight-61 {
    font-size: 1.61em;
}
span.e2-tag-weight-62 {
    font-size: 1.62em;
}
span.e2-tag-weight-63 {
    font-size: 1.63em;
}
span.e2-tag-weight-64 {
    font-size: 1.64em;
}
span.e2-tag-weight-65 {
    font-size: 1.65em;
}
span.e2-tag-weight-66 {
    font-size: 1.66em;
}
span.e2-tag-weight-67 {
    font-size: 1.67em;
}
span.e2-tag-weight-68 {
    font-size: 1.68em;
}
span.e2-tag-weight-69 {
    font-size: 1.69em;
}
span.e2-tag-weight-70 {
    font-size: 1.70em;
}
span.e2-tag-weight-71 {
    font-size: 1.71em;
}
span.e2-tag-weight-72 {
    font-size: 1.72em;
}
span.e2-tag-weight-73 {
    font-size: 1.73em;
}
span.e2-tag-weight-74 {
    font-size: 1.74em;
}
span.e2-tag-weight-75 {
    font-size: 1.75em;
}
span.e2-tag-weight-76 {
    font-size: 1.76em;
}
span.e2-tag-weight-77 {
    font-size: 1.77em;
}
span.e2-tag-weight-78 {
    font-size: 1.78em;
}
span.e2-tag-weight-79 {
    font-size: 1.79em;
}
span.e2-tag-weight-80 {
    font-size: 1.80em;
}
span.e2-tag-weight-81 {
    font-size: 1.81em;
}
span.e2-tag-weight-82 {
    font-size: 1.82em;
}
span.e2-tag-weight-83 {
    font-size: 1.83em;
}
span.e2-tag-weight-84 {
    font-size: 1.84em;
}
span.e2-tag-weight-85 {
    font-size: 1.85em;
}
span.e2-tag-weight-86 {
    font-size: 1.86em;
}
span.e2-tag-weight-87 {
    font-size: 1.87em;
}
span.e2-tag-weight-88 {
    font-size: 1.88em;
}
span.e2-tag-weight-89 {
    font-size: 1.89em;
}
span.e2-tag-weight-90 {
    font-size: 1.90em;
}
span.e2-tag-weight-91 {
    font-size: 1.91em;
}
span.e2-tag-weight-92 {
    font-size: 1.92em;
}
span.e2-tag-weight-93 {
    font-size: 1.93em;
}
span.e2-tag-weight-94 {
    font-size: 1.94em;
}
span.e2-tag-weight-95 {
    font-size: 1.95em;
}
span.e2-tag-weight-96 {
    font-size: 1.96em;
}
span.e2-tag-weight-97 {
    font-size: 1.97em;
}
span.e2-tag-weight-98 {
    font-size: 1.98em;    
}
span.e2-tag-weight-99 {
    font-size: 1.99em;    
}
span.e2-tag-weight-100 {
    font-size: 2em;
}

.e2-note a.e2-tag {
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 5px;
    display: inline-block;
}
.e2-note-tags .e2-marked {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
}
a.e2-tag,a:link.e2-tag,a:visited.e2-tag {
    color: #567;
}
a.e2-tag.sponsored {
    color: #a0a0a0;
}
a:hover.e2-tag.sponsored,
a:active.e2-tag.sponsored,
a.hover.e2-tag.sponsored {
    color: #a0a0a0 !important;
    opacity: 0.9;
}
a:hover.e2-tag,a.hover.e2-tag,a:active.e2-tag {
    color: #404040;
}

.e2-popular {
    -moz-columns: 3;
    columns: 3;
    -moz-column-gap: 40px;
    column-gap: 40px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 735px) {
  .e2-popular {
    max-width: none;
    -moz-columns: 1;
    columns: 1;
  }
}

.e2-popular p {
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.e2-popular a {
    padding: 0;
    margin: 0;
    color: #404040;
}
.e2-popular a:hover {
    color: #333;
}
form {
    display: inline-block;
    width: 100%;
}
.form,.form-part,.form-control,.form-subcontrol {
    float: left;
    width: 100%;
}

.form:after {
    content: none;
    clear: both;
}

.form-part,.form-control,.form-subcontrol {
	clear: left;
}

.form-label {
	clear: left;
	float: left;
	width: 17.07%;
	padding: 0 20px 0 0;
	line-height: 18px;
	margin-top: 2px;
}

.form-label-sticky {
	position: -webkit-sticky;
	position: sticky;
	-webkit-font-smoothing: subpixel-antialiased;
	top: 6px;
}

.form-control-sublabel {
    margin: 0 0 8px;
    width: 82.93%;
    font-size: 12px;
    line-height: 14px;
    color: #a0a0a0;
}

.form-part {
  width: 100%;
  margin: 0 0 24px 0;
}

.form-control {
    width: 100%;
    margin-top: 1em;
}

.form-control .input-label {
    margin-top: 8px;
}

.form-control .input-error {
    background: #ffece0;
}

.form-control input.text {
    margin-bottom: 8px;
    min-width: 49px;
}

.form-control select,.form-control textarea {
    margin-bottom: 8px;
}

.form-control .disabled {
    color: #999;
}

.form-control-big .input-label {
    margin-top: 16px;
}

.form-control-big input {
    font-size: 24px;
    margin-bottom: 8px;
}

.form-subcontrol {
    width: 100%;
    margin: 0 0 8px 0;
}

.form-subcontrol-master {
    margin: 0 0 0 0;
}

.form-subcontrol-slave {
    margin: 0 0 0 16px;
}

.form-control .full-width {
    width: 100%;
}

.form-control .width-4 {
    width: 80%;
}

.form-control .width-3 {
    width: 60%;
}

.form-control .width-2 {
    width: 40%;
}

.form-control .width-1 {
    width: 20%;
}

.form-control .icon {
    position: relative;
    left: -.33em;
    width: 0;
}

.form-control .icon span.e2-svgi {
    position: absolute;
    right: 0;
    top: 6px;
}

.form-label-help {
    margin: 4px 0 0;
}

.form-label-saveinfo {
    font-size: 12px;
    line-height: 16px;
    margin: 4px 0 0;
}

.delete-box {
    text-align: center;
}
.delete-box .form-element {
    width: 100%;
    float: none;
}
.delete-box .form-element p {
    text-align: center;
}

.form-element {
    width: 82.9%;
    float: left;
}

.e2-note-form-wrapper,
#e2-note-form-wrapper {
    margin: 10px auto;
    max-width: 800px;
    float: none;
}

@media screen and (max-width: 735px) {
    .form-control .form-label {
        width: 100%;
        padding: 0 0 6px 0;
        vertical-align: baseline;
        margin: 0;
    }

    .form-control .input-label {
        margin: 0;
    }

    .form-control .form-label-sticky {
        background: rgba(255,255,255,0.8);
        -webkit-backdrop-filter: blur(8px);
        margin-top: -6px;
        padding-top: 6px;
        top: 0;
    }

    .form-label-help {
        display: inline-block;
        margin: 0 0 0 1em;
        vertical-align: baseline;
    }

    .form-label-saveinfo {
        float: right;
        display: inline-block;
        margin: 0 0 0 1em;
        vertical-align: baseline;
    }

    .form-element,.form-control-sublabel {
        width: 100% !important;
        float: none !important;
        margin-left: 0px;
    }

    .delete-box {
        width: 100%;
        padding: 20px 4% 40px;
    }

    .width-2,.width-3,.width-4 {
        width: 100% !important;
    }
}

@media screen and (max-width: 1023px) {
    .e2-smart-title {
        width: 100% !important;
    }

    #blog-title,.width-2,.width-3,.width-4 {
        width: 100% !important;
    }
}

input.text,textarea,select,button,.e2-button {
    border: none;
    padding: 10px 15px;
    box-shadow: none;
    transition-property: background, border-color, box-shadow, fill;
    transition-duration: .33s;
    transition-timing-function: ease-out;
}

input.text,textarea,select {
    border: none;
    background: #f0f0f0;
    border-radius: 2px;
}

select {
    -webkit-appearance: none;
}

input.text:focus,textarea:focus,select:focus,button:focus,.e2-button:focus {
    transition: none;
}

select {
    padding-right: 19px;
    background: #f0f0f0 url("../images/chevron-down.svg") right center no-repeat !important;
}

select>button,select>.e2-button {
    display: none;
}

button, .e2-button {
	font-family: "Helvetica", sans-serif;
    display: inline-block;
    padding: 0 20px;
    background: #2ecc71;
    box-shadow: none;
    font-size: 13px;
    line-height: 40px;
    font-weight: normal;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
	height: 40px;
    color: #fff;
}
button a, .e2-button a {
    color: #fff;
	vertical-align: middle;
    border-bottom: 0 !important;
}
button a:hover, button a.hover, .e2-button a:hover, e2-button a.hover {
    color: #fff;
}
button:visited, button a:visited, button:active, button:hover, button.hover, .e2-button:visited, .e2-button:active, .e2-button:hover, .e2-button.hover {
    color: #fff;
}

.e2-submit-button,.e2-delete-button {
    font-size: 14px;
    line-height: 24px;
    padding: 0 24px;
}

.e2-submit-button {
    background: #2ecc71;
    color: #fff;
}

.e2-submit-button:visited,.e2-submit-button:active,.e2-submit-button:hover,.e2-submit-button.hover {
    color: #fff;
}

.e2-delete-button {
    background: #eaded8;
    color: #404040;
}

.e2-delete-button:visited,.e2-delete-button:active,.e2-delete-button:hover,.e2-delete-button.hover {
    color: #404040;
}

button:disabled,.e2-button:disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}

button:active .e2-button:active,button:hover,.e2-button:hover,button.hover,.e2-button.hover {
    box-shadow: inset 0 0 100px rgba(0,0,0,0.16);
}

button:hover,.e2-button:hover,button.hover,.e2-button.hover {
    transition: none;
    fill: #b03000;
}

button:focus,.e2-button:focus {
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
}

button:focus:hover,.e2-button:focus:hover,button:focus.hover,.e2-button:focus.hover {
    box-shadow: inset 0 0 100px rgba(0,0,0,0.16),inset 0 0 0 1px rgba(0,0,0,0.2);
}
.e2-hints {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #f5f5f5;
    padding: 0.8em 1em;
    color: #3c763d;
    display: none;
    background-color: #dff0d8;
}
.e2-hints i {
    margin-right: 5px;
}
.e2-hints .e2-hint {
    font-size: 0.8em;
    display: inline;
}
@media screen and (min-width:1023px) {
    .e2-hints {
        display: block;
    }
}
.e2-keyboard-shortcut {
    color: rgba(0,0,0,0.4);
    padding: 0 .33em;
    border-radius: 3px;
    text-decoration: none;
    font-size: 0.8em;
}
.frontpage .e2-keyboard-shortcut {
    color: rgba(0,0,0,0.4);
    text-decoration: none;
    font-size: 1em;
}

button+.e2-keyboard-shortcut,.e2-button+.e2-keyboard-shortcut {
    margin-left: .67em;
    font-weight: normal;
}

.e2-keyboard-shortcut:empty {
    display: none;
}

.e2-login-sheet,.e2-subscribe-sheet {
    position: fixed;
    z-index: 998;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background: rgba(240,240,240,0.8);
    transition: opacity .25s ease-out, visibility .25s ease-out;
}

.e2-login-window,.e2-subscribe-window {
    position: relative;
    left: 50%;
    width: 50%;
    top: 10%;
    overflow: visible;
    background: #fff;
    opacity: 0;
    padding: 16px 20px 32px 20px;
    box-shadow: 0 2px 6px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
    transition: all .25s ease-out;
    transform: scale(0.7);
}

.e2-show {
    visibility: visible;
    opacity: 1;
}

.e2-show .e2-login-window,.e2-show .e2-subscribe-window {
    opacity: 1;
    transform: scale(1);
}

.chzn-container-multi .chzn-choices {
    border-radius: 2px !important;
}

.e2-login-window {
    width: 360px;
    margin: 0 -180px;
}

.e2-login-window h1 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;
}

.e2-login-window label {
    font-size: 13px;
}

.e2-login-window table {
    margin: 0;
}

.e2-login-window td {
    padding: 0;
}

.e2-login-window-col {
    width: 220px;
    margin: 0 0 0 40px;
}

.e2-login-window-input {
    width: 100%;
}

.e2-login-window-input-wrapper {
    position: relative;
    margin: 0 0 8px 0;
}

.e2-login-window-icon {
    position: absolute;
    top: 2px;
    left: -36px;
}

.e2-login-window-button {
    width: 100%;
    margin: 20px 0 0 0;
}

.e2-subscribe-window {
    width: 640px;
    margin: 0 -320px;
}

@media screen and (max-width: 735px) {
    .e2-login-window {
        width: 280px;
        margin: 0 -140px;
    }

    .e2-login-window-col {
        width: 200px;
    }

    .e2-subscribe-window {
        left: 5%;
        margin: 0;
        width: 90%;
    }
}

/* Fix */

img.fotorama__img {
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
}

/* Pace */

.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	-webkit-transform: translate3d(0, -50px, 0);
	-ms-transform: translate3d(0, -50px, 0);
	transform: translate3d(0, -50px, 0);
	-webkit-transition: -webkit-transform .5s ease-out;
	-ms-transition: -webkit-transform .5s ease-out;
	transition: transform .5s ease-out;
}
.pace.pace-active {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.pace .pace-progress {
	display: block;
	position: fixed;
	z-index: 10000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 3px;
	background: #2ecc71;
	pointer-events: none;
}

/* -----  Preloader  ------------------------------------------------------ */

#preloader>p {
    display: none;
}
#preloader_preload {
    display: block;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
}
#preloader_preload::after {
    background-color: #fff;
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    content: "";
}

/* Quote */

.e2-text [quote] {
	text-align: center;
    margin-bottom: 1em;
    margin-top: 0.5em;
}
.e2-text p[quote] {
    display: block;
    font-size: 0.9em;
    line-height: 1.3;
    color: #a0a0a0;
}

/* Position */

.e2-text [center] {
    text-align: center;
    margin: 0;
}

/* Aside */

.e2-text [aside] {
	text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}
@media screen and (min-width: 1280px) {
	.e2-text [main] {
        float: left;
        clear: left;
        margin-left: 200px;
        width: 800px;
	}
	.e2-text [main]+[aside] {
        float: right;
        clear: right;
        width: 200px;
        padding-left: 1em;
        text-align: left;
        color: #a0a0a0;
        right: 2em;
	}
	.e2-text [main]+[aside]+* {
		clear: left;
	}
}
.e2-text [aside], .e2-text-picture p {
    line-height: 1.25;
	font-size: 0.8em;
}
.e2-text [aside] img {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}

/* Lead */

.e2-text [lead] {
    margin-top: -10px;
	margin-bottom: 20px;
    text-align: center;
    color: #567;
}

.e2-text [vote] {
    font-family: "LatoWeb", sans-serif;
    padding: 1em;
    text-align: center;
    font-size: 1em;
    font-weight: 300;
}

/* Center */

.e2-text [center] {
    text-align: center;
}

/* Orphus */

.orphus p {
    text-align: left;
    font-size: 0.8em;
    color: #a0a0a0;
}
@media screen and (max-width:1023px) {
    .orphus {
        display: none;
    }
}

/* Avatar */

.avatar-me-wrapper {
    height: 40px;
    width: 40px;
    overflow: hidden;
    margin-right: 15px;
    position: relative;
    display: table;
    background-color: #2ecc71;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.avatar-me {
	font-family: "Helvetica", sans-serif;
    color: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    display: table-cell;
    vertical-align: middle;
	padding-top: 2px;
}
.avatar-me-wrapper .user-name {
    display: none;
}

/* Banner */

.banner {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    width: 100%;
    height: 100vh;
}
.banner::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24px;
    z-index: 20;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 1px, 100% 10px;
    background-size: 100% 1px, 100% 10px;
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(25%, rgba(0, 0, 0, .15)), color-stop(75%, rgba(0, 0, 0, .15)), to(transparent)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .3), transparent);
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .15)25%, rgba(0, 0, 0, .15)75%, transparent), -webkit-radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .3), transparent);
    background-image: linear-gradient(left, transparent, rgba(0, 0, 0, .15)25%, rgba(0, 0, 0, .15)75%, transparent), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .3), transparent);
    background-position: 0 100%, 0 100%;
}

/* Quote */

.e2-quote {
    display: table;
    width: 100%;
    color: #a0a0a0;
    max-width: 800px;
    margin: 0 auto;
}
.e2-quote p {
    text-align: center;
}
.e2-quote span {
    font-style: italic;
    text-align: right;
    float: right;
}

/* Button */

#top-link {
    transition: all 0.2s linear;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 2em;
    bottom: 2em;
    background: #f1f3f4;
    height: 50px;
    width: 50px;
    margin: 0;
    border-radius: 50%;
}
#top-link:hover {
    background: #e2e5e6;
}
#top-link a {
    display: block;
    font-size: 1.5em;
    color: #8890a7;
    text-align: center;
    vertical-align: middle;
    line-height: 46px;
}
#top-link .icon-up-open-big {
    line-height: 48px;
}

@media screen and (min-width:735px) {
    #e2-note-form-wrapper .form-element {
        width: 82.9%;
        float: right;
    }
}


.w-100 {
    width: 100% !important;
}

.admin-links-sticky {
    top: 5px !important;
    right: 0;
}

/* Progress */

.progressContainer {
    left: 0;
    width: 100%;
    height: 3px;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: transparent;
    content: "";
    z-index: 999;
	display: table;
	table-layout: fixed;
}

.progressBar {
    width: 0%;
    float: left;
    height: 100%;
    z-index: 999;
    max-width: 100%;
    background-color: #2ecc71;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.shortcontent {
    width: 100%;    
}
.allcontent {
    width: 100%;
}

.more {
    position: relative;
}
.more::before {
    content: "";
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 40%, rgba(255,255,255,1) 80%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 40%,rgba(255,255,255,1) 80%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 40%,rgba(255,255,255,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); 
    width: 100%;
    left: 0;
    height: 150px;
    position: absolute;
    display: block;
    top: -150px;
    pointer-events: none;
}
a.morelink {
    width: 100%;
    text-align: center;
    display: block;
    border-bottom: 0;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    background: #f1f3f4;
    padding: 10px;
    border-radius: 2px;
    max-width: 800px;
    color: #8890a7;
}
a.morelink:hover {
    color: #8890a7;
    background: #e2e5e6;
}
a.morelink.less {
    display: none;
}

/* Prevents img without src to appear */
img:not([src]) {
    visibility: hidden;
}